@import "variables";

/*____________________CODIGO GENERAL_________________________________*/

*{
    padding: 0px;
    margin: 0px;
}

/*Le coloco el color de fondo en todos los html */
body {
    margin: 0 30px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*Le coloco un color al titulo h1 */
h1 {
    color: $colorPrimario;
    margin: 20px;
    font-size: 24px;
}

/*Creo un ID para el color de los links */
.link {
    color:rgb(255, 255, 255)
}

/*Para borrar el subrayado de los links */
a:link, a:visited, a:active {
    text-decoration:none;
}

p {
    margin-bottom: 1.43rem;
}

/*_______________CONFIGURAR LA PAGINA PRINCIPAL_______________________*/

/*grids mobile first*/

.banner {
    padding: 10px 10px;
}

.containerMobile {
    display: grid;
    grid-template-areas: 
    "img nav nav"
    ". carusel ."
    ". carusel ."
    ". footer .";
    grid-template-columns: auto;
    grid-template-rows: repeat(8, 110px);
    grid-gap:1rem;
}
.containerMobile .box-1 {
grid-area: img;
}
.containerMobile .box-2 {
grid-area: nav;
}
.containerMobile .box-3 {
grid-area: carusel;
}
.containerMobile .box-4 {
grid-area: footer;
}

@media only screen and (min-width: 768px) {
 .containerMobile {
    grid-template-columns: repeat(3, 1fr auto 1fr); 
}
.containerMobile .box-1 {
   grid-row: 1 / 1;
   grid-column: 1 / 1;
 }
 .containerMobile .box-2 {
   grid-row: 1 / 2;
   grid-column: 2 / 3;
 }
.containerMobile .box-3 {
   grid-row: 2 / 5;
   grid-column: 2 / 3;
}
.containerMobile .box-4 {
   grid-row: 8 / 8;
   grid-column: 1 / 3;
}
}

@media only screen and (min-width: 1024px) {
    .containerMobile {
        grid-template-columns: repeat(4, 1fr);
    }
    .containerMobile .box-1 {
       grid-row: 1 / 2;
       grid-column: 2 / 4;
     }
     .containerMobile .box-2 {
       grid-row: 2 / 3;
       grid-column: 1 / 6;
     }
    .containerMobile .box-3 {
       grid-row: 3 / 5;
       grid-column: 2 / 4;
    }
   .containerMobile .box-4 {
       grid-column: 1 / 5;
       grid-row: 8 / 8;
    }
   }
/*_______________CONFIGURAR LA PAGINA NOSOTROS________________________*/

.lineaDebajo {
    text-decoration: underline;
}

.imgBordes {
    border-radius: 10px;
}

.contenedor {
    width: 80%;
    max-width: 1000px;
    margin:30px;
    overflow: hidden;
}

.foot {
    width:100%;
    float:center;
    box-sizing: border-box;
}

.centradoTexto {
    text-align: center;
}

@media screen and (max-width: 1028px){
    .foot {
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .foot {
        display:none;
    }
}
 
/*_______________CONFIGURAR LA PAGINA ARAUQUITOS________________________*/

 #espaciosEntreFotos { 
    justify-content:space-between;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-template-rows: auto;
    .item {
        border: solid 1px;
        font-size: 21px;
        padding: 10px;
    }
    }

   #centrado {
       text-align: center;
   }

.imgArauquitos:hover {
    filter: opacity(.6);
}


/*_______________CONFIGURAR LA PAGINA NEW IN________________________*/

   
.fondo-tienda{
    padding: 1.8rem 0;
    margin-top: 2rem;    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);     
    grid-row-gap: 20px;   
}

.fondo-tienda article{    
    color: $colorPrimario; 
    font-size: 1rem;   
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto auto auto auto;
    align-items: center;  
    justify-items: center; 
    grid-gap: 10px;   
    
}
.fondo-tienda img{   
    grid-row: 1;   
}
.fondo-tienda .descripcion {   
    grid-row: 2;   
}
.fondo-tienda .precio {   
    grid-row: 3;   
}
.fondo-tienda button{   
    grid-row: 4;
    padding: 0.3rem;
}

.row {
    align-items: center;  
    justify-items: center; 
    color: $colorPrimario;
    padding: 10px;
    margin-top: 2rem;
    grid-row-gap: 20px;
}

    /* Aumentamos la anchura y altura con un for por 4 veces */

@for $i from 1 to 4 {
    .zoom-#{$i} { transition: 
                width 1s * $i,
                height 1s * $i,
                transform 1s * $i;
                }
  }
  
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
.zoom-2:hover{
    transform : scale(2);
}

.zoom-1:hover{
    transform : scale(1.5);
}


.coleccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    grid-gap: 25px;
    padding: 25px;

}


/*_______________CONFIGURAR LA PAGINA DE TEMPORADAS________________________*/

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}



.galeria .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
         width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
         width: 70%;
    }
}