@import "variables";

/*____________________CODIGO PARA EL FOOTER________________________ */


.contenidoPrincipal{
    display:flex;
    line-height: 2.5;
}

.contenidoPrincipal .cajaEnComun{
    flex-basis: 50%;
    padding: 10px 20px;
}

.cajaEnComun h6{
    font-size: 1.125rem;
    font-weight: 200;
    text-transform: uppercase;
    color:$colorPrimario;
    text-align:center;
}
/*Código para la caja contenedora de lo que esta abajo de los titulos */
.cajaEnComun .contenido{
    margin: 10px 0 0 0;
    position: relative;
}

.contenido-centrado{
    color: $colorPrimario;
    text-align: center;
}
    .contenido__link {
        text-decoration: none;
        color: $colorPrimario;
    }

/*Código de la linea debajo de los titulos (Final) */
.cajaEnComun .contenido:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: $colorFondo;
}

/* Código de la linea debajo de los titulos (Inicio) */
.cajaEnComun .contenido:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: rgba(47, 88, 14, 0.705);
    top: -10px;
}

.redes {
    text-align:center;
}


@media screen and (max-width: 954px) {

    .cajaEnComun{
        display: none;
    }  
}

@media screen and (min-width: 954px) {
    .redes{
        display: none;
    }
}